body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color:white;
    background-image: url('backgroundh.png');
    background-repeat: repeat-x;
    padding-bottom: 2000px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #7cc4f5;
}

th {
    background-color: #0996e7;
}

tr:hover {
    background-color: #388dc5;
}

nav {
    background-color: #42a9ee;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

nav ul li {
    float: left;
    display: flex;
}

nav ul li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #65ade9;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.logo-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px; /* Adjust size as needed */
    height: auto;
}

.menu-toggle {
display: flex;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
}


.container 
{
    width: 900px;
    height: 400px;
    border:0px solid lightskyblue; 
    margin: 30px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



.container div 
{
width: 150px;
height: 150px;
background-color: #0996e7;
margin: 5px;
text-align: center;
color: rgb(63, 240, 240);
font-size: 10px;
display: flex;
justify-content: center;
align-items: center;

}

.container div:nth-child(1)
{
    background-image: url('one.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(2)
{
    background-image: url('two.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(3)
{
    background-image: url('three.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(4)
{
    background-image: url('four.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(5)
{
    background-image: url('five.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(6)
{
    background-image: url('six.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(7)
{
    background-image: url('seven.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(8)
{
    background-image: url('eight.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(9)
{
    background-image: url('nine.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(10)
{
    background-image: url('ten.png');
    background-size: cover;
    background-position: center;
}


.container2
{
    width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama
{
    flex: 3;
    order: 2;
    padding: 20px;
}

.sidebar-satu
{
    flex: 1;
    order: 1;
}

.sidebar-dua
{
    flex: 1;
    order: 3;
}

.container3
{
    width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.service 
{
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
    color: white;
}
.service-reguler
{
    background-color: #0996e7;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

}
.service-vip
{
    background-color: #eb81c7;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.service-vvip
{
    background-color: #7be7d0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}




.container 
{
    width: 900px;
    height: 400px;
    border:0px solid lightskyblue; 
    margin: 30px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container div 
{
width: 150px;
height: 150px;
background-color: #0996e7;
margin: 5px;
text-align: center;
color: rgb(63, 240, 240);
font-size: 10px;
display: flex;
justify-content: center;
align-items: center;

}

.container div:nth-child(1)
{
    background-image: url('one.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(2)
{
    background-image: url('two.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(3)
{
    background-image: url('three.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(4)
{
    background-image: url('four.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(5)
{
    background-image: url('five.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(6)
{
    background-image: url('six.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(7)
{
    background-image: url('seven.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(8)
{
    background-image: url('eight.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(9)
{
    background-image: url('nine.png');
    background-size: cover;
    background-position: center;
}

.container div:nth-child(10)
{
    background-image: url('ten.png');
    background-size: cover;
    background-position: center;
}


.container2
{
    width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama
{
    flex: 3;
    order: 2;
    padding: 20px;
}

.sidebar-satu
{
    flex: 1;
    order: 1;
}

.sidebar-dua
{
    flex: 1;
    order: 3;
}

.container3
{
    width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.service 
{
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
    color: white;
}
.service-reguler
{
    background-color: #0996e7;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

}
.service-vip
{
    background-color: #eb81c7;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.service-vvip
{
    background-color: #7be7d0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    nav ul {
        width: 50%;
    }

@media (max-width: 600px) {
    nav ul {
        display: none;
    }